body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8b1b1;
    color: #0f7895;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0e6881; 
}

.tablero {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: black;
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
}

.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

.contenedor-juego {
    text-align: center;
    margin: 50px auto;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #09647d; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



#startButton {
    margin-top: 10px; /* Espacio entre el tablero y el botón */
}

#startButton {
    margin-top: 10px; /* Espacio entre el tablero y el botón */
}

/* haciendolo mobilefirst que se me ha olvidado*/
@media only scsreen and (max-width: 600px){
    .tablero {
        width: 100%;
        height: 100vw; /*Alto en relacion de la pantalla*/

    }

    #instrucciones {
        font-size: 14px;
    }
}

.puntuacion-container {
    text-align: center;
}

.puntuacion, .puntuacionMaxima {
    margin: 5px 0;
    font-size: 16px;
}

.instrucciones {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#restartButton {
    margin-top: 10px;
    display:block;
    margin: 10px auto;
}