.tablero {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: black;
}

.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
}

.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}

.contenedor-juego {
    text-align: center;
}

#startButton {
    margin-top: 10px; /* Espacio entre el tablero y el botón */
}